name: CI

on:
  push:
    branches:
      - main
  schedule:
    - cron: "58 7 * * 3"

permissions: {}

jobs:
  fmt:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: dtolnay/rust-toolchain@v1
        with:
          toolchain: nightly
          components: rustfmt
      - run: cargo fmt --all -- --check

  clippy:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        toolchain: [stable, nightly, "1.88.0"]
    steps:
      - run: sudo apt install --yes --no-install-recommends libasound2-dev pkg-config
      - uses: actions/checkout@v6
      - uses: dtolnay/rust-toolchain@v1
        with:
          toolchain: ${{ matrix.toolchain }}
          components: clippy
      - run: cargo clippy --all-targets -- -D warnings
      - run: cargo clippy --all-targets -- -D clippy::pedantic

  check:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [
          ubuntu-22.04, ubuntu-22.04-arm,
          windows-2025, windows-11-arm,
          macos-15,
        ]
        toolchain: [stable, nightly, "1.88.0"]
    steps:
      - name: Install linux build requirements
        run: sudo apt install --yes --no-install-recommends libasound2-dev pkg-config
        if: contains(matrix.os, 'ubuntu')
      - uses: actions/checkout@v6
      - uses: dtolnay/rust-toolchain@v1
        with:
          toolchain: ${{ matrix.toolchain }}
          components: clippy
      - run: cargo check --all-targets

  audit:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: EmbarkStudios/cargo-deny-action@v2

  devskim:
    runs-on: ubuntu-latest
    permissions:
      actions: read
      contents: read
      security-events: write
    steps:
      - uses: actions/checkout@v6
      - uses: microsoft/DevSkim-Action@v1
      - uses: github/codeql-action/upload-sarif@v4
        with:
          sarif_file: devskim-results.sarif

  typos:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: crate-ci/typos@v1

  cargo-sort:
    name: Check order in Cargo.toml
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: taiki-e/install-action@v2
        with:
          tool: cargo-sort
      - run: cargo sort --check --check-format --grouped
